* {
    overflow: hidden;
    /* Σε όλα τα κουτιά */
}

body {
    display: inline-block;
    width: 100%;
    height: fit-content;
    margin: 0;
}

footer {
    background-color: #53799E;
    font-size: 0.7vw;
    width: 100%;
    height: 100%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

a,
p {
    font-family: Verdana, Tahoma, sans-serif;
    text-decoration: none;
    color: #EDF2F9;
    margin: 0.2%;
}


/* Εφέ για υπερσυνδέσμους */

footer a:hover {
    text-decoration: underline;
}