iframe {
    width: 100%;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    position: fixed;
    /* Ensures the iframe stays in one place */
    bottom: 0;
    /* Aligns it to the bottom of the page */
    left: 0;
    /* Aligns it to the left side */
    /* Makes the iframe span the full width */
    height: 200px;
    /* Sets the height of the iframe (adjust as needed) */
    border: none;
}