body {
    overflow: hidden;
    margin: 0;
    display: inline;
}

.button {
    background-color: #EDF2F9;
    color: #002129;
    border-radius: 0.5vw;
    font-family: Verdana, Tahoma, sans-serif;
    margin-top: 0.2%;
    margin-bottom: 0.2%;
    margin-left: 0.1%;
    margin-right: 0.1%;
    font-size: 0.7vw;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.button:hover {
    color: white;
    background-color: #324b61;
}


nav {
    background-color: #53799E;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}